<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
  </head>

  <body>
        <h1>Pirate Info</h1>
          <h2><%= @pirate.name %></h2>
          <h2><%= @pirate.weight %></h2>
          <h2><%= @pirate.height %></h2>
        </div>


        <% @all_ships.each do |ship| %>
          <%= ship.name %>
          <%= ship.type %>
          <%= ship.booty %>
        <% end %>
        </div>

  </body>
</html>
